<section class="main">

  <ul class="todo-list">
    <todo-item
      ng-repeat="todo in $ctrl.todos.filter($ctrl.selectedFilter.filter)"
      todo="todo"
      date="todo.date"
      time="todo.time"
      text="todo.text"
      description="todo.description"
      on-destroy="$ctrl.handleDestroy(todo)"
      on-change="$ctrl.handleChange(todo)"
      ng-keypress="$ctrl.handleSave($event)"
    ></todo-item>
<!--    on-keypress="$ctrl.handleSave($event, todo)"-->
  </ul>
  <p>Complete all
  <input ng-if="$ctrl.todos.length"
    type="checkbox"
    ng-checked="$ctrl.todos.reduce($ctrl.completeReducer, 0) === $ctrl.todos.length"
    ng-click="$ctrl.handleCompleteAll()"
    /></p>
  <footer-component ng-if="$ctrl.todos.length"
    completed-count="$ctrl.todos.reduce($ctrl.completeReducer, 0)"
    active-count="$ctrl.todos.length - $ctr.todos.reduce($ctrl.completeReducer, 0)"
    filter="$ctrl.selectedFilter"
    on-clear-completed="$ctrl.handleClearCompleted()"
    on-show="$ctrl.handleShow(filter)"
  ></footer-component>
</section>
